@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .getStarted {
    z-index: 0;
    backdrop-filter: blur(0px);
    background: linear-gradient(
      90deg,

      rgba(255, 162, 96, 0.8) 10%,   /* Use rgba with alpha (0.8 is 80% opaque) */
      rgba(251, 224, 205, 0.5) 100%,  /* Use rgba with alpha (0.8 is 80% opaque) */
      rgba(253, 253, 253, 0.5) 80%    /* Use rgba with alpha (0.6 is 60% opaque) */
      /* #ffa260 10%,
      #FBE0CD 100%,
      #FDFDFD 80% */
    );

    border-radius: 20px;
    height: 180px;
    width: 375px;


  }

  .shopNowTransition{
    transition: all 2s ease-in-out;
    background: linear-gradient(
        180deg,

        rgba(255,255,255,.1) 0%,
        rgba(244, 120, 32, 0.6),
        rgba(244, 120, 32, 0.8) 90%
        
    );
  }

  @keyframes topCategAnim {
    0%{
      opacity:0;
    }
    100%{
      opacity: 1;
      display: flex;
    }
    
  }

  @keyframes topCategAnimNoHover {
    0%{
      opacity:1;
    }
    100%{
      opacity: 0;

    }
    
  }

  .topCategShowShopNow+div{
    transition: all 2s ease-in-out;
    animation: topCategAnimNoHover 2s linear 1 alternate-reverse;
    
  }

  .topCategShowShopNow:hover+div{
    display: flex;
    transition: all 2s ease-in-out;
    animation: topCategAnim 2s linear infinite alternate;
    background-color: black;
    

  }

 

  /* Perk card animation and transition */
  @keyframes perkCardAnimationHover {
    0%{
    opacity: 0;
    }
    
    100%{
    opacity: 1;
    }
    
  }


  @keyframes perkCardAnimationNoHover {
    0%{
    opacity: 1;
    }
    
    100%{
    opacity: 0;
    }
    
  }


  @keyframes forContinuingBtn {
    0%{
      opacity: 1;
      
    }
    100%{
      opacity: 0;
      
    }
  }
  



  .perkCardTransition div:nth-child(2) img{
    transition: all 1s ease-in-out;
  }

  .perkCardTransition:hover div:nth-child(2) img{
   
    /* transform: scale(1.4); */
    transform: perspective(10px) translateY(-4px) ;
    scale: 1.2;
    
    
   
  }


  .perkCardTransition div:nth-child(1){
    transition: all 1s ease-in-out;
    animation: perkCardAnimationNoHover 1s linear 1 alternate;
    opacity: 0;

    
    
  }

  
  .perkCardTransition:hover div:nth-child(1){
   
    transition: all 1s ease-in-out;
    animation: perkCardAnimationHover 1s linear 1 alternate;
    opacity: 1;
    
  }

  .perkCardTransition div:nth-child(3){
    transition: all 1s ease-in-out;
    animation: perkCardAnimationNoHover 1s linear 1 alternate;
    opacity: 0;
    
    
  }
  .perkCardTransition:hover div:nth-child(3){
   
    transition: all 1s ease-in-out;
    animation: perkCardAnimationHover 1s linear 1 alternate;
    opacity: 1;
    
  }


  .forContinueBtn>div+button{
    transition: all 1s ease-in-out;
    animation: perkCardAnimationHover 1s linear 1 alternate;
    opacity: 0;
    
  }

  .forContinueBtn>div:hover+button, .forContinueBtn>button:hover {
    transition: all 1s ease-in-out;
    opacity: 1;
    animation: perkCardAnimationHover 1s linear 1 alternate-reverse ;
  }


  .linearBg{
    background: linear-gradient(
      90deg,
     rgba(0,0,0,1),
     rgba(244, 120, 32, .6) 250%
    );
  }

  /* Perk card animation and transition */


}

